* text=auto !eol
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.jdt.ui.prefs -text
examples/src/documentation/content/xdocs/hivemind-examples/setters.xml -text
examples/src/java/org/apache/examples/panorama/discussions/DiscussionsStartup.java -text
examples/src/java/org/apache/examples/panorama/mail/MailStartup.java -text
examples/src/java/org/apache/examples/panorama/startup/Executable.java -text
examples/src/java/org/apache/examples/panorama/startup/PanoramaMain.java -text
examples/src/java/org/apache/examples/panorama/startup/impl/ExecuteStatic.java -text
examples/src/java/org/apache/examples/panorama/startup/impl/Task.java -text
examples/src/java/org/apache/examples/panorama/startup/impl/TaskExecutor.java -text
examples/src/java/org/apache/examples/setters/SetterService.java -text
examples/src/java/org/apache/examples/setters/setters.xml -text
examples/src/java/org/apache/examples/setters/textResource.properties -text
examples/src/test/org/apache/examples/setters/TestSetters.java -text
framework/src/test-data/TestConstructRegistry/empty.jar -text
framework/src/test-data/TestConstructRegistry/module.jar -text
framework/src/test-data/TestConstructRegistry/testBasic.xml.master -text svneol=unset#application/octet-stream
framework/src/test-data/TestConstructRegistry/testJars.xml.master -text svneol=unset#application/octet-stream
framework/src/test-data/TestConstructRegistry/testLocalRefs.xml.master -text svneol=unset#application/octet-stream
framework/src/test-data/TestConstructRegistry/testUptoDate.xml.master -text svneol=unset#application/octet-stream
framework/src/test-data/TestRegistryBuilder.jar -text
framework/src/test/hivemind/test/ConditionalIncludedSubmodule.xml -text
framework/src/test/hivemind/test/ConditionalNotIncludedSubmodule.xml -text
framework/src/test/hivemind/test/config/Null.xml -text
framework/src/test/hivemind/test/parse/IncludeSubModule.xml -text
framework/src/test/hivemind/test/parse/SubModule.xml -text
framework/src/test/hivemind/test/parse/SubModuleIf.xml -text
framework/src/test/org/apache/hivemind/util/empty_fr -text
framework/src/test/org/apache/hivemind/util/home.png -text
framework/src/test/org/apache/hivemind/util/home_fr.png -text
hivebuild/hivedoc-xsl/private.png -text
hivebuild/hivedoc-xsl/public.png -text
hivebuild/report-artifacts/license-report.header.xml.inc -text svneol=unset#application/octet-stream
hivebuild/report-artifacts/license-report.trailer.xml.inc -text svneol=unset#application/octet-stream
jmx/src/documentation/resources/images/jConsoleConnectLocal.png -text
jmx/src/documentation/resources/images/jConsoleLoggerMBean.png -text
jmx/src/documentation/resources/images/loggerMBeansView.png -text
jmx/src/documentation/resources/images/loggerView.png -text
jmx/src/documentation/resources/images/performanceInterceptorMBean.png -text
jmx/src/java/org/apache/hivemind/management/log4j/LoggerMBean.java -text
jmx/src/test/org/apache/hivemind/management/MBeanNonInterfaceTestService.java -text
library/src/documentation/resources/images/PipelineCallingSequence.png -text
library/src/test/org/apache/hivemind/lib/strategy/DateLoggingStrategy.java -text
library/src/test/org/apache/hivemind/lib/strategy/DefaultLoggingStrategy.java -text
library/src/test/org/apache/hivemind/lib/strategy/LoggingStrategy.java -text
library/src/test/org/apache/hivemind/lib/strategy/ParameterIndexTest.xml -text
src/documentation/classes/CatalogManager.properties -text
src/documentation/content/HiveMind-QuickReference.doc -text
src/documentation/content/xdocs/mailinglists.xml -text
src/documentation/content/xdocs/related-projects.xml -text
src/documentation/content/xdocs/subversion.xml -text
src/documentation/resources/images/Bootstrap-ProjectLayout.png -text
src/documentation/resources/images/FrameworkStack.png -text
src/documentation/resources/images/HiveMind-Logo.png -text
src/documentation/resources/images/InterceptorStack.png -text
src/documentation/resources/images/asf_logo_wide.gif -text
src/documentation/resources/schema/catalog.xcat -text
src/documentation/resources/schema/dtd/hm-document.dtd -text
src/documentation/resources/stylesheets/sourceHighlighter.xsl -text
src/documentation/sitemap.xmap -text
src/images/HiveMind-Logo.psp -text
src/images/HiveMindImages.vsd -text
src/images/InterceptorStack.psp -text
src/images/private-icon.psp -text
tools/forrest/.classpath -text
tools/forrest/.project -text
tools/forrest/src/org/apache/hivemind/tools/forrest/Java2XmlRenderer.java -text
tools/forrest/src/org/apache/hivemind/tools/forrest/SourceHighlighterTransformer.java -text
tools/forrest/src/org/apache/hivemind/tools/forrest/Xml2XmlRenderer.java -text
