* text=auto !eol
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.jdt.ui.prefs -text
examples/src/documentation/content/xdocs/hivemind-examples/setters.xml -text
examples/src/java/org/apache/examples/panorama/discussions/DiscussionsStartup.java -text
examples/src/java/org/apache/examples/panorama/mail/MailStartup.java -text
examples/src/java/org/apache/examples/panorama/startup/Executable.java -text
examples/src/java/org/apache/examples/panorama/startup/PanoramaMain.java -text
examples/src/java/org/apache/examples/panorama/startup/impl/ExecuteStatic.java -text
examples/src/java/org/apache/examples/panorama/startup/impl/Task.java -text
examples/src/java/org/apache/examples/panorama/startup/impl/TaskExecutor.java -text
examples/src/java/org/apache/examples/setters/SetterService.java -text
examples/src/java/org/apache/examples/setters/setters.xml -text
examples/src/java/org/apache/examples/setters/textResource.properties -text
examples/src/test/org/apache/examples/setters/TestSetters.java -text
framework/pom.xml -text
framework/src/site/apt/index.apt -text
framework/src/site/resources/images/HiveMind-Logo.png -text
framework/src/site/resources/images/jakarta-logo.gif -text
framework/src/site/site.xml -text
framework/src/test-data/TestConstructRegistry/empty.jar -text
framework/src/test-data/TestConstructRegistry/module.jar -text
framework/src/test-data/TestConstructRegistry/testBasic.xml.master -text svneol=unset#application/octet-stream
framework/src/test-data/TestConstructRegistry/testJars.xml.master -text svneol=unset#application/octet-stream
framework/src/test-data/TestConstructRegistry/testLocalRefs.xml.master -text svneol=unset#application/octet-stream
framework/src/test-data/TestConstructRegistry/testUptoDate.xml.master -text svneol=unset#application/octet-stream
framework/src/test-data/TestRegistryBuilder.jar -text
framework/src/test/java/DefaultPackageMessages.java -text
framework/src/test/resources/DefaultPackageStrings.properties -text
framework/src/test/resources/hivemind/test/config/Null.xml -text
framework/src/test/resources/hivemind/test/parse/BadAttribute.xml -text
framework/src/test/resources/hivemind/test/parse/BadConfigurationId.xml -text
framework/src/test/resources/hivemind/test/parse/BadElement.xml -text
framework/src/test/resources/hivemind/test/parse/BadElementAttributeKey.xml -text
framework/src/test/resources/hivemind/test/parse/BadModuleId.xml -text
framework/src/test/resources/hivemind/test/parse/BadVersion.xml -text
framework/src/test/resources/hivemind/test/parse/ContributionIf.xml -text
framework/src/test/resources/hivemind/test/parse/DuplicateSchemas.xml -text
framework/src/test/resources/hivemind/test/parse/EmbeddedConfigSchema.xml -text
framework/src/test/resources/hivemind/test/parse/EmbeddedParametersSchema.xml -text
framework/src/test/resources/hivemind/test/parse/GenericModule.xml -text
framework/src/test/resources/hivemind/test/parse/ImplementationIf.xml -text
framework/src/test/resources/hivemind/test/parse/InterfaceNameQualifiedToModulePackage.xml -text
framework/src/test/resources/hivemind/test/parse/MissingAttribute.xml -text
framework/src/test/resources/hivemind/test/parse/ModuleWithPackage.xml -text
framework/src/test/resources/hivemind/test/parse/NoInterface.xml -text
framework/src/test/resources/hivemind/test/parse/PrivateConfigurationPoint.xml -text
framework/src/test/resources/hivemind/test/parse/PrivateSchema.xml -text
framework/src/test/resources/hivemind/test/parse/PrivateServicePoint.xml -text
framework/src/test/resources/hivemind/test/parse/PushAttributeRule.xml -text
framework/src/test/resources/hivemind/test/parse/PushContentRule.xml -text
framework/src/test/resources/hivemind/test/parse/SchemaDescription.xml -text
framework/src/test/resources/hivemind/test/parse/SetPropertyRule.xml -text
framework/src/test/resources/org/apache/hivemind/util/empty_fr -text
framework/src/test/resources/org/apache/hivemind/util/home.png -text
framework/src/test/resources/org/apache/hivemind/util/home_fr.png -text
hivebuild/hivedoc-xsl/private.png -text
hivebuild/hivedoc-xsl/public.png -text
hivebuild/report-artifacts/license-report.header.xml.inc -text svneol=unset#application/octet-stream
hivebuild/report-artifacts/license-report.trailer.xml.inc -text svneol=unset#application/octet-stream
jmx/src/documentation/resources/images/jConsoleConnectLocal.png -text
jmx/src/documentation/resources/images/jConsoleLoggerMBean.png -text
jmx/src/documentation/resources/images/loggerMBeansView.png -text
jmx/src/documentation/resources/images/loggerView.png -text
jmx/src/documentation/resources/images/performanceInterceptorMBean.png -text
jmx/src/java/org/apache/hivemind/management/log4j/LoggerMBean.java -text
library/pom.xml -text
library/src/documentation/resources/images/PipelineCallingSequence.png -text
library/src/site/resources/images/HiveMind-Logo.png -text
library/src/site/resources/images/jakarta-logo.gif -text
library/src/site/site.xml -text
/pom.xml -text
src/documentation/classes/CatalogManager.properties -text
src/documentation/content/HiveMind-QuickReference.doc -text
src/documentation/content/xdocs/subversion.xml -text
src/documentation/resources/images/Bootstrap-ProjectLayout.png -text
src/documentation/resources/images/FrameworkStack.png -text
src/documentation/resources/images/HiveMind-Logo.png -text
src/documentation/resources/images/InterceptorStack.png -text
src/documentation/resources/images/jakarta-logo.gif -text
src/documentation/resources/schema/catalog.xcat -text
src/documentation/resources/schema/dtd/hm-document.dtd -text
src/documentation/resources/stylesheets/sourceHighlighter.xsl -text
src/documentation/sitemap.xmap -text
src/images/HiveMind-Logo.psp -text
src/images/HiveMindImages.vsd -text
src/images/InterceptorStack.psp -text
src/images/private-icon.psp -text
src/site/apt/index.apt -text
src/site/resources/images/HiveMind-Logo.png -text
src/site/resources/images/jakarta-logo.gif -text
src/site/site.xml -text
tools/forrest/.classpath -text
tools/forrest/.project -text
tools/forrest/src/org/apache/hivemind/tools/forrest/Java2XmlRenderer.java -text
tools/forrest/src/org/apache/hivemind/tools/forrest/SourceHighlighterTransformer.java -text
tools/forrest/src/org/apache/hivemind/tools/forrest/Xml2XmlRenderer.java -text
